.About-me{
    /* background-color:  #343333; */
    background-image: url('/src/images/pexels-pixabay-276514.jpg');
    /* background-blend-mode: overlay; */
    background-size: cover;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}