.About-me{
    /* background-color:  #343333; */
    /* background-image: url('/src/images/pexels-pixabay-276514.jpg'); */
    /* background-blend-mode: overlay; */
    background-image: linear-gradient(to right top, #d16b6b, #d24f70, #cd307e, #bd0b93, #9d00ae, #b800a8, #cf00a2, #e4009b, #ff4173, #ff8151, #ffbd42, #fbf25f);
    background-size: cover;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.about-content{
    max-width: 1000px;
}
.mycol-1{
    height: 100vh;
}
.title{
    transform: rotate(270deg);
    font-size: 300%;
    color: yellow;
    display: inline-block;
    position: relative;
    left: 140px;
    top: 43%;

}
.mycol-2{
    align-items: center;
    padding-top: 210px;
    box-sizing: border-box;
}
.main-content{
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    opacity:0.4;
    border-radius: 20px;
    box-sizing: border-box;
}
.main-content p{
    font-size: larger;
    color: black;
}
