@import url('https://fonts.googleapis.com/css?family=Roboto:700');


:root{
    --primary: hsla(245,97%,63%,0.65);
    --secondary: rgba(183, 56, 237, 0.65);
}
.home,.myrow1{
    /* background-color:  #343333;
    background-image: url('/src/images/hustle-1.jpg');
    background-blend-mode: overlay; */
    /* background-image: linear-gradient(to right, #05007e, #3a0090, #5e00a2, #7f00b2, #a000c2); */
    background: linear-gradient(to right, #04007ee1, #3a0090db, #5e00a2cd, #8000b2e3, #9e00c2e4),
                url('/src/images/hustle-1.jpg') no-repeat center center / cover;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.myrow1{
    padding-left: 150px !important; 
    padding-right: 100px !important;
}
.blob-div .home{
    overflow: hidden;
}
.blob{
    box-sizing: border-box;
    opacity: 0.5;
    animation: 10s infinite blob-rotation;
}
.blob-div{
    text-align: center;
    align-self: center;
    overflow: hidden;
}
.textual{
    font-family: 'Anek Malayalam', sans-serif;
    align-self: center;
}

.line1{
    color: #ffffff;
    font-size: 300%;
    animation: 3s slide-up;
}
.line2{
    color: #ffffff;
    font-size: 450%;
    animation: 3s slide-up;
}
.myName{
    color: #ffca18;
    font-size: larger;
}
.line3{
    color: #ffffff;
    position: relative;
    bottom: 20px;
    font-size: 150%;
}

@keyframes blob-rotation{
    from{
        transform: rotate(0deg);
        /* transform: skewY(0deg); */
    }
    50%{
        transform: rotate(360deg);
        /* transform: skewY(20deg); */
    }
    to{
        transform: rotate(0deg);
        /* transform: skewY(0deg); */
    }
}
@keyframes slide-up {
    from{
        height: 0%;
        transform: translate3d(0, 100%, 0); 
    }
    to{
        height: 100%;
        transform: translate3d(0, 0%, 0); 
    }
}