.pr-card{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    font-size: 120%;
}
.name{
    font-size: larger;
    color: blueviolet;
    font-weight:bold
}
.tech{
    color:rgb(255, 0, 0);

}
.skill-blocks{
    display: inline;
    padding: 0.5rem;
    color:rgb(0, 47, 255);
}